test1.republique.tr {
    redir /erp /erp/
    handle_path /erp/* {
        reverse_proxy erp:8000
    }
    handle {
        reverse_proxy app:3000
    }
}

test2.republique.tr {
    redir /erp /erp/
    handle_path /erp/* {
        reverse_proxy erp-staging:8000
    }
    handle {
        reverse_proxy app-staging:3000
    }
}
